/* ===============================
   FORCE SINGLE SCROLL CONTAINER
   =============================== */

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* kills browser scrollbar */
}
